/* color palette from <https://github.com/vuejs/theme> */
/* :root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
} */

/* semantic color variables for this project */
/* :root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */
:root {
  /* Primary colors */
  --white: #fff;
  --black: #000;
  --bright-blue: hsl(220, 98%, 61%);
  --linear-gradient-from: hsl(192, 100%, 67%);
  --linear-gradient-to: hsl(280, 87%, 65%);

  /* Light theme colors */
  
  --lth-very-light-gray: hsl(0, 0%, 98%);
  --lth-very-light-grayish-blue:hsl(236, 33%, 92%);
  --lth-light-grayish-blue: hsl(233, 11%, 84%);
  --lth-dark-grayish-blue: hsl(236, 9%, 61%);
  --lth-very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark theme colors */
  --dth-very-dark-blue: hsl(235, 21%, 11%);
  --dth-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --dth-light-grayish-blue: hsl(234, 39%, 85%);
  --dth-light-grayish-blue: hsl(236, 33%, 92%);/* hover */
  --dth-dark-grayish-blue: hsl(234, 11%, 52%);
  --dth-very-dark-grayish-blue-01: hsl(233, 14%, 35%);
  --dth-very-dark-grayish-blue-02: hsl(237, 14%, 26%);
}
:root[data-theme="light"] {
  --color-background: var(--lth-very-light-gray);
  --color-background-table: var(--white);
  --color-border-hover: var(--vt-c-divider-light-1);
  --color-heading: var(--white);
  --color-text: var(--lth-dark-grayish-blue);
  --color-text-hover: var(--lth-very-dark-grayish-blue);
  --color-text-active: var(--bright-blue);
  --color-text-complete: var(--lth-very-light-gray);
}

:root[data-theme="dark"] {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);
  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);
  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 10px;
  margin: 0 auto;
  max-width: 90rem;
}
